.main-page_wrapper {
    width: 100%;
    margin: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 80%;
}

.main-wrapper {
    margin: 20px 0;
}

.profile-header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.profile-info_form, .address_form {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.profile-info span {
    color: var(--charcoal-color);
    font-weight: var(--font-bold);
}

.profile-info p {
    font-size: 22px;
}

.profile-info a {
    font-size: 18px;
}

.update-btn {
    background-color: #00e676;
}

.profile-info_wrapper {
    margin: 30px 0;
}

.edit-btn {
    width: fit-content;
    outline: none;
    padding: 10px;
    background-color: transparent;
}

.edit-btn:hover {
    background-color: #448aff;
    color: #fff;
}

@media screen and (max-width: 560px){
    .profile-info_form, .address_form {
        grid-template-columns: 1fr;
    }
}