.product-filters {
    /* background-color: whitesmoke; */
    padding: 20px;
    box-sizing: border-box;
}

.filter-wrapper {
    margin: 20px 0;
    border-bottom: solid 1px #000;
}

.filter-wrapper .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin: 10px 0;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header button {
    outline: none;
    background-color: transparent;
    border: none;
}